header {
  background-color: var(--background-tertiary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 38px 40px;
  position: relative;
}

a.logo .logo-mobile {
  display: block;
  width: 68px;
  height: 64px;
}

a.logo .logo-desktop {
  display: none;
}

input[type="checkbox"]:checked ~ nav {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--background-tertiary-color);
}

nav {
  display: none;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  margin: 16px 0;
}

nav li a {
  color: var(--text-secondary-color);
  text-decoration: none;
  font-weight: var(--menu-text-weight);
  font-size: 24px;
}

@media screen and (min-width: 768px) {
  .navegation-menu {
    margin-top: 0;
    width: 467px;
  }

  .navegation-menu label {
    display: none;
  }

  .navegation-menu nav {
    display: block;
  }

  .navegation-menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }

  .navegation-menu ul li {
    margin: 0;
  }

  /* Logo mobile continua aparecendo no tablet */
  a.logo .logo-mobile {
    display: block;
  }

  a.logo .logo-desktop {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  header {
    padding: 38px 145px;
  }

  a.logo {
    width: 260px;
    height: 64px;
  }

  a.logo .logo-desktop {
    display: block;
    width: 260px;
    height: 64px;
  }

  a.logo .logo-mobile {
    display: none;
  }

  .navegation-menu nav a:hover {
    color: var(--primary-color);
  }
}
